dash==2.18.2
dash-bootstrap-components==1.7.1
Django==4.0.1
django-plotly-dash==2.4.6
langchain_community==0.3.24
langchain_core==0.3.61
langchain_google_genai==2.1.4
pandas==2.2.3
plotly==6.0.1
protobuf==6.31.0
python-dotenv==1.1.0
psycopg2==2.9.10