{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ESource</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet" />
</head>

<body>

    {% include 'fragments/navbar.html'%}

    <div class="container mt-5 pt-4 mb-5 pb-4">
        <div class="text-center">
            <h1>Bem-vindo ao ESource</h1>
            <p>Seu portal para eventos e artigos científicos voltados para Engenharia de Software(ES).</p>
        </div>

        {% include 'fragments/cards.html' %}

        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="card text-center mt-5">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ESource:home' %}">Artigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ESource:autores' %}">Autores</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Lista de Eventos</h5>
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Sigra</th>
                            <th>Data</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos %}
                        <tr>
                            <td>{{ evento.nome }}</td>
                            <td>{{ evento.sigla }}</td>
                            <td>{{ evento.data }}</td>
                            <td>

                                {% if request.user.is_authenticated %}
                                <div class="btn-group" role="group">
                                    <a class="btn btn-sm btn-outline-primary" href="{{ evento.link }}"
                                        target="_blank">Visualizar</a>
                                    <a class="btn btn-sm btn-outline-warning"
                                        href="{% url 'ESource:atualizarEvento' evento.id %}">Editar</a>
                                    <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#confirmModalArquiva" data-item-id="{{ evento.id }}"
                                        data-item-url="arquivar_evento" data-item-name="{{ evento.nome }}">
                                        <i class="bi bi-archive-fill"></i>Arquivar</a>
                                    <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#confirmDeleteModal" data-item-id="{{ evento.id }}"
                                        data-item-url="deletarEvento" data-item-name="{{ evento.nome }}">Excluir</a>
                                </div>
                                {% else %}
                                <a class="btn btn-sm btn-outline-primary" href="{{ evento.link }}"
                                    target="_blank">Visualizar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Sigra</th>
                            <th>Data</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% include 'fragments/footer.html' %}

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Exclusão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que deseja excluir: <strong id="itemNameInModal"></strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Confirmação Desarquivar-->
    <div class="modal fade" id="confirmModalArquiva" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" id="arquivaForm">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Arquivar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que deseja Arquivar <strong id="itemNameInModal"></strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Arquivar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/modalExclusao.js'%}"></script>
    <script src="{% static 'js/modal_personalizado.js'%}"></script>
</body>

</html>