{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ESource</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/3.0.4/css/responsive.bootstrap5.css" rel="stylesheet" />
</head>

<body>

    {% include 'fragments/navbar.html'%}

    <div class="container mt-5 pt-4 mb-5 pb-4">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="card text-center mt-5">
            <div class="card-header">
                <h2 class="card-title">Lista de Artigos Arquivados</h2>
            </div>
            <div class="card-body">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Nome</th>
                            <th>Autores</th>
                            <th>Data</th>
                            <th>Subáreas</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for artigo in artigos_arquivados %}
                        <tr>
                            <td><span class="badge text-bg-secondary">{{ artigo.get_status_display }}</span></td>
                            <td>{{ artigo.titulo }}
                            </td>
                            <td>
                                {% for autor in artigo.autores.all %}
                                {{ autor.citacao }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                <em>Sem autores</em>
                                {% endfor %}
                            </td>
                            <td>{{ artigo.dataPublicacao }}
                            </td>
                            <td>{{ artigo.subAreas }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#confirmDesarquivaModal" data-item-id="{{ artigo.id }}"
                                        data-item-url="desarquivar_artigo" data-item-name="{{ artigo.titulo }}">
                                        <i class="bi bi-archive"></i>desarquivar</a>
                                    <a class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#confirmDeleteModal" data-item-id="{{ artigo.id }}"
                                        data-item-url="excluir_artigo" data-item-name="{{ artigo.titulo }}">
                                        <i class="bi bi-trash"></i>Excluir</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Status</th>
                            <th>Nome</th>
                            <th>Autores</th>
                            <th>Data</th>
                            <th>Subáreas</th>
                            <th>Opções</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% include 'fragments/footer.html' %}

    <!-- Modal de Confirmação Exclusão-->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Exclusão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que deseja excluir <strong id="itemNameInModal"></strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

     <!-- Modal de Confirmação Desarquivar-->
      <div class="modal fade" id="confirmDesarquivaModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" id="desarquivaForm">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Desarquivar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza de que deseja desarquivar <strong id="itemNameInModal"></strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Desarquivar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.4/js/responsive.bootstrap5.js"></script>

    <script src="{% static 'js/datatable.js' %}"></script>
    <script src="{% static 'js/modalExclusao.js'%}"></script>
    <script src="{% static 'js/modalDesarquiva.js'%}"></script>
</body>

</html>